*{
    margin: 0;
    padding: 0;
}

#body{
    background: #f2f2f2;
}

.main{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    overflow: hidden;
}

.slides img{
    width: 90%;
}

.slides .active{
    background: #000000;
}

.slidesjs-pagination{
    background: #424242;
    list-style: none;
    overflow: hidden;
}

.slidesjs-navigation{
    background:#000;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding:10px 10px;
    float:right;
}

.slidesjs-pagination li{
    float: left;
}

.slidesjs-pagination a{
    display: block;
    padding: 10px 10px;
    color:#fff;
    text-decoration: none;
}

.slidesjs-pagination a:hover {
    background: #000000;
}


